table{
background:#ffffb3;
text-align:center;
width:94%;
margin:2%;
border:1pt solid #000040;
}

caption{
	font-weight: bold;
	font-size: 120%;
}

thead, tfoot{
	background:#0000a0;
	color:#ffffff;
	font-size:110%;
	padding:5pt;
}

th,td{

border:1pt solid #000040;

}

tfoot a {
color:#ffffff;
}

tbody:nth-child(2){
 background:#ffffff;
 }
#main{
	display:flex ;
	flex-direction:row;
}
@media screen and (min-width: 0px) and (max-width: 580px) {
 
  nav ul {
    flex-direction: column;
  }
  #main{
	  flex-direction:column;
  }      }
}